.DS_Store
build/bin
.vscode
node_modules
*.log
frontend/dist
.env
build/tools
build/arm64

out/
wyomingunixtime.provisionprofile
package.json.back
embedded.provisionprofile
dist
out
embedded.provisionprofile
build/icon.png
/windows-store