body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

main {
  display: flex;
}

pre,
textarea {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  margin: 0;
  padding: 0;
  flex: 1;
  color: #d4d5d4;
  background-color: #1d1e1f;
  width: 50vw;
  height: 100vh;
  overflow: scroll;
  border-width: 0;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.inverse {
  color: #1d1e1f;
  background-color: #d4d5d4;
  font-weight: bold;
}

textarea {
  border-right: 1px solid #d4d5d4;
}

footer,
header {
  color: #1d1e1f;
  background-color: #bfdcea;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.25em;
  font-weight: normal;
}

footer {
  right: 0;
  left: auto;
  width: 280px;
}

footer p {
  margin: 0;
}

footer p:first-child {
  margin-top: 0;
  margin-bottom: 0.25em;
}

a {
  color: #1d1e1f;
}

footer div#support p {
  font-size: 0.8rem;
  text-align: center;
}

footer div#support img {
  width: calc(100% - 2rem);
  padding: 1rem;
}
